# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#assets
/src/generated
/src/main/resources

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/cache
/changelog.txt
/CREDITS.txt
